<div class="parallax">
	<div id="section1" class="parallax_group" >
		<div class="content ">
			<!-- data-10p-top-top="top: 10vh" data-6p-top-bottom="top: -94vh" -->
			<div id="hero_text" class="parallax_layer layer_back" >
				<h2><%= @contents["pane1.headline.1"]%><br> <%= @contents["pane1.headline.2"]%><br> <%= @contents["pane1.headline.3"]%></h2>
				<h3><%= @contents["pane1.tagline"]%></h3>
				<a href="<%= @contents["pane1.downloadurl"]%>" class="download">DOWNLOAD</a>
				<a href="<%= @contents["pane1.videourl"]%>" id="watch" ><span class="fa-play fa"> </span>WATCH</a>
			</div>
			<div id="hero_hand" class="parallax_layer layer_front" data-bottom-bottom="bottom: 0vh" data-6p-top-bottom="bottom: 94vh">
				<%= image_tag("dishup_hand_hero.png", class: "heroimage")%>
			</div>
		</div>
	</div>
	<div id="section2" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh" >
		
		<div class="content">
			<a name="about">
			<div  class="parallax_layer layer_front">
				<%= image_tag("du_dishpic_screen.png", class: "heroimage")%>
				<p><%= @contents["pane2.para"]%></p>
			</div>
		</div>
	</div>
	<div id="section3" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			<a name="howitworks">
			<div class="parallax_layer layer_front">
				<%= image_tag("du_stacked_screens.png", class: "heroimage")%>
				<p><%= @contents["pane3.para"]%></p>
			</div>
		</div>
	</div>
	<div id="section4" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div id="bgimagepanel">
			<div class="content " >
				<p><%= @contents["pane4.para.1"]%></p>
				<a href="<%= @contents["pane4.downloadlink"]%>" class="download_link">DOWNLOAD</a>
				
				
			</div>
		</div>
		<div id="email_form">
			<div class="content">
				<a name="getdishup">
				<p><%= @contents["pane4.para.2"]%></p>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="email">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">SUBMIT</button>
			      </span>
			    </div><!-- /input-group -->
			</div>
		</div>
        <footer>
			<div class="content">
		        
		          <p><%= @contents["footer.copyright"]%></p>
				  <p><%= @contents["footer.address"]%></p>
			</div>
         
        </footer>
		
	</div>
	
	
</div>