<div class="parallax">
	<div id="section1" class="parallax_group" >
		<div class="content ">
			<!-- data-10p-top-top="top: 10vh" data-6p-top-bottom="top: -94vh" -->
			<div id="hero_text" class="parallax_layer layer_back" >
				<h2><%= @contents["pane1.headline.1"].contents.html_safe %><br> <%= @contents["pane1.headline.2"].contents.html_safe %><br> <%= @contents["pane1.headline.3"].contents.html_safe %></h2>
				<h3><%= @contents["pane1.tagline"].contents.html_safe %></h3>
				<% if !@contents["pane1.downloadurl"].disabled %>
				<a href="<%= @contents["pane1.downloadurl"].contents.html_safe %>" class="download">DOWNLOAD</a>
				<% end %>
				<a href="<%= @contents["pane1.videourl"].contents.html_safe %>" id="watch" ><span class="fa-play fa"> </span>WATCH</a>
			</div>
			<div id="hero_hand" class="parallax_layer layer_front" data-bottom-bottom="bottom: 0vh" data-6p-top-bottom="bottom: 94vh">
				<%= image_tag("dishup_hand_hero.png", class: "heroimage")%>
			</div>
		</div>
	</div>
	<div id="about" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh" >
		
		<div class="content">
			
			<div  class="parallax_layer layer_front">
				<%= image_tag("du_dishpic_screen.png", class: "heroimage")%>
				<p><%= @contents["pane2.para"].contents.html_safe %></p>
			</div>
		</div>
	</div>
	<div id="howitworks" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			
			<div class="parallax_layer layer_front">
				<%= image_tag("du_stacked_screens.png", class: "heroimage")%>
				<p><%= @contents["pane3.para"].contents.html_safe %></p>
			</div>
		</div>
	</div>
	<div id="getdishup" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div id="bgimagepanel">
			<div class="content " >
				<p><%= @contents["pane4.para.1"].contents.html_safe %></p>
				<% if !@contents["pane4.downloadlink"].disabled %>
				<a href="<%= @contents["pane4.downloadlink"].contents.html_safe %>" class="download_link">DOWNLOAD</a>
				
				<% end %>
				
			</div>
		</div>
		<div id="email_form">
			<div class="content">
				
				<p><%= @contents["pane4.para.2"].contents.html_safe %></p>
				<div class="input-group">
					<form action="//dishupapp.us11.list-manage.com/subscribe/post-json?u=b27835dfc0c517fa6d0c61adc&amp;id=1f6705e64fc=?" method="get">
			      <input type="text" class="form-control" placeholder="email">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">SUBMIT</button>
			      </span>
			  </form>
			    </div><!-- /input-group -->
			</div>
		</div>
        <footer>
			<div class="content">
		        
		          <p><%= @contents["footer.copyright"].contents.html_safe %></p>
				  <p><%= @contents["footer.address"].contents.html_safe %></p>
			</div>
         
        </footer>
		
	</div>
	<script type="text/javascript">
	$(document).ready( function () {
	    // I only have one form on the page but you can be more specific if need be.
	    var $form = $('form');

	    if ( $form.length > 0 ) {
	        $('form button').bind('click', function ( event ) {
	            if ( event ) event.preventDefault();
	            // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
	            register($form); 
	        });
	    }
	});

	function register($form) {
	    $.ajax({
	        type: $form.attr('method'),
	        url: $form.attr('action'),
	        data: $form.serialize(),
	        cache       : false,
	        dataType    : 'json',
	        contentType: "application/json; charset=utf-8",
	        error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
	        success     : function(data) {
	            if (data.result != "success") {
	                // Something went wrong, do something to notify the user. maybe alert(data.msg);
	            } else {
	                // It worked, carry on...
	            }
	        }
	    });
	}
	</script>

	<!--End mc_embed_signup-->
	
</div>