<div class="parallax">
	<div id="section1" class="parallax_group" >
		<div class="content ">
			<!-- data-10p-top-top="top: 10vh" data-6p-top-bottom="top: -94vh" -->
			<div id="hero_text" class="parallax_layer layer_back" >
				<h2><%= @contents["pane1.headline.1"].contents.html_safe %><br> <%= @contents["pane1.headline.2"].contents.html_safe %><br> <%= @contents["pane1.headline.3"].contents.html_safe %></h2>
				<h3><%= @contents["pane1.tagline"].contents.html_safe %></h3>
				<% if !@contents["pane1.downloadurl"].disabled %>
				<a href="<%= @contents["pane1.downloadurl"].contents.html_safe %>" class="download">DOWNLOAD</a>
				<% end %>
				<a href="<%= @contents["pane1.videourl"].contents.html_safe %>" id="watch" ><span class="fa-play fa"> </span>WATCH</a>
			</div>
			<div id="hero_hand" class="parallax_layer layer_front" data-bottom-bottom="bottom: 0vh" data-6p-top-bottom="bottom: 94vh">
				<%= image_tag("dishup_hand_hero.png", class: "heroimage")%>
			</div>
		</div>
	</div>
	<div id="about" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh" >
		
		<div class="content">
			
			<div  class="parallax_layer layer_front">
				<%= image_tag("du_dishpic_screen.png", class: "heroimage")%>
				<p><%= @contents["pane2.para"].contents.html_safe %></p>
			</div>
		</div>
	</div>
	<div id="howitworks" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div class="content ">
			
			<div class="parallax_layer layer_front">
				<%= image_tag("du_stacked_screens.png", class: "heroimage")%>
				<p><%= @contents["pane3.para"].contents.html_safe %></p>
			</div>
		</div>
	</div>
	<div id="getdishup" class="parallax_group" data-bottom-top="top: 94vh" data-6p-top-top="top: 0vh">
		<div id="bgimagepanel">
			<div class="content " >
				<p><%= @contents["pane4.para.1"].contents.html_safe %></p>
				<% if !@contents["pane4.downloadlink"].disabled %>
				<a href="<%= @contents["pane4.downloadlink"].contents.html_safe %>" class="download_link">DOWNLOAD</a>
				
				<% end %>
				
			</div>
		</div>
		<div id="email_form">
			<div class="content">
				
				<p><%= @contents["pane4.para.2"].contents.html_safe %></p>
				<div class="input-group">
					<!-- Begin MailChimp Signup Form -->
					
					<div id="mc_embed_signup">
					<form action="//dishupapp.us11.list-manage.com/subscribe/post?u=b27835dfc0c517fa6d0c61adc&amp;id=1f6705e64f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
	
					<div class="mc-field-group">
						 <input type="email" value="" class="form-control required email" placeholder="email" id="mce-EMAIL" name="EMAIL">
	   			      <span class="input-group-btn">
	   			        <button class="btn btn-default" type="submit">SUBMIT</button>
	   			      </span>
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b27835dfc0c517fa6d0c61adc_1f6705e64f" tabindex="-1" value=""></div>
					    
					</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->
					
					
			    </div><!-- /input-group -->
			</div>
		</div>
        <footer>
			<div class="content">
		        
		          <p><%= @contents["footer.copyright"].contents.html_safe %></p>
				  <p><%= @contents["footer.address"].contents.html_safe %></p>
			</div>
         
        </footer>
		
	</div>
	
	
</div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//dishupapp.us11.list-manage.com/subscribe/post?u=b27835dfc0c517fa6d0c61adc&amp;id=1f6705e64f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b27835dfc0c517fa6d0c61adc_1f6705e64f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->